---
controller_credentials:
  - name: "{{ organization_name }} {{ env }} AAP Credential"
    description: "{{ organization_name }} {{ env }} Ansible Automation Platform Credential"
    credential_type: "Red Hat Ansible Automation Platform"
    organization: "{{ organization_name }}"
    inputs:
      host: "ToDo"
      username: "ToDo"
      password: "ToDo"
      verify_ssl: true
  - name: "{{ organization_name }} {{ env }} Vault Credential"
    description: "{{ organization_name }} {{ env }} Vault Credential"
    credential_type: "Vault"
    organization: "{{ organization_name }}"
    inputs:
      vault_password: "ToDo"

  - name: "{{ organization_name }} {{ env }} GitLab API Token"
    description: "{{ organization_name }} {{ env }} GitLab API Token"
    credential_type: "GitLab API Token"
    organization: "{{ organization_name }}"
    inputs:
      gitlab_token: "ToDo"
      gitlab_email: "ToDo"
      gitlab_user: "ToDo"
...
